<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

    <variable name="ROOT_APPENDER" value="${LOGGER_ROOT_APPENDER:-stdoutLogstash}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%highlight(%level)] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.curator" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.I0Itec" level="WARN"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka.server" level="WARN"/>
    <logger name="io.confluent" level="WARN"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="ERROR"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="ERROR"/>
    <logger name="io.confluent.kafka.schemaregistry.storage.KafkaStore" level="ERROR"/>

    <logger name="com.banno.kafka" level="INFO"/> 
    <logger name="com.banno" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>